<div class="weather-forcast">
  <div class="row">
    <div class="col-xs-10">
      <h1>Weather Forcast<span ng-show="locale"> for {{locale}}</span></h1>
      <form ng-submit="getWeather()">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="search" placeholder="Search by U.S. City">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="getWeather()">Go!</button>
          </span>
        </div>

      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <div class="" ng-show="showWeather">
        <pre style="background-color: magenta;">{{ weather | json }}</pre>
      </div>
    </div>
  </div>
</div>
